
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  background-color:transparent;
  background-image: url('../public/img/cafe_fondo.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}
p, h1, h2{
  text-align: center;
  color: #fff;
}
header {
  background-color: #646464;
  color: #fff;
  text-align: center;
  padding: 0.2rem;
}
.container_form{
  display: flex;
  justify-content: space-around;
}
.form{
  background-color: #9f9f9fc2;
  width: 500px;
  color: #fffefe;
  padding: 10px;
  text-align: center;
  border: 2px solid #b4b4b4cc;
  border-radius: 30px;
}
label, input, button{
  margin: 5px;
}
main {
  padding: 2rem;
}

.welcome_img {
  text-align: center;
  
}

.welcome_img img {
  max-width: 100%;
  height: auto;
  margin-top: 60px;
  width: auto;
  border-radius: 20px;
  border: 3px solid rgba(255, 255, 255, 0.874);
}

footer {
  background-color: #646464;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position:relative;
  margin-top: 100%;
}
